

.container{
    max-width: 1300px;
    text-align: center;
    border-radius: 15px;
    border-style: solid;
    }
<<<<<<< HEAD

    #overlay{
        
    }
    #bruh{
        background-image:url('../assets/scissors.png');
=======
    #bruh{
        
        background-image:('../assets/tugofwar.jpg');
    }
    .banner{
        margin-top: 15px;
        padding-top: 30px;
        text-align: center;
        background-color: #f44336;
        padding: 10px;
        border-radius: 25px;
    }
    
    .button{
        padding-top: 30px;
        text-align: center;
        background-color: #f44336;
        padding: 10px;
        border-radius: 25px;
    }
    canvas{
        margin-top: 15px;
        padding: 15px;
        border: 20px;
        border-style: solid;
        border-radius: 25px;
>>>>>>> 5bc22aa90b528528a3ec20e5a41f489fee3f05a6
    }