<div class="container">
    <h1>Whose playing around you?</h1>
    <a id="button" routerLink="/createPlayer">Create your GameParty account</a>
    
</div>
<div class="container">
    <table id="player-table" class="table" *ngIf="allPlayer.length > 0 else noPlayer">
        <thead class="table-header">
            <tr>
                <th>
                    Id
                </th>
                <th>
                    username
                </th>
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let player of allPlayer">
                <td>{{player.id}}</td>
                <td>{{player.username}}</td>
            </tr>
        </tbody>
    </table>
    <ng-template #noPlayer>
        <p id="no-player">
            No players online
        </p>
    </ng-template>
</div>
