<div class="container">
    <h1>AboutPlayer</h1>
    <a routerLink="/createAboutPlayer">Create a new about player</a>
</div>
<div class="container">
    <table id="aboutPlayer-table" class="table" *ngIf="allAboutPlayer.length > 0 else noAboutPlayer">
        <thead class="table-header">
            <tr>
                <th>
                    Id
                </th>
                <th>
                    gameLibrary
                </th>
                <th>
                    favoriteGames
                </th>
                <th>
                    gamesWon
                </th>
                <th>
                    gamesLost
                </th>
                <th>
                    player
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let aboutPlayer of allAboutPlayer">
                <td>{{aboutPlayer.id}}</td>
                <td>{{aboutPlayer.gameLibrary}}</td>
                <td>{{aboutPlayer.favoriteGames}}</td>
                <td>{{aboutPlayer.gamesWon}}</td>
                <td>{{aboutPlayer.gamesLost}}</td>
                <td>{{aboutPlayer.player}}</td>
            </tr>
        </tbody>
    </table>
    <ng-template #noAboutPlayer>
        <p id="no-aboutPlayer">
            No about player
        </p>
    </ng-template>
</div>

