<div id ="head" class="container">
    <h1>Welcome to your room</h1>
    <br>
    <h2>Feel free to stay and hangout</h2>
    <!-- <a routerLink="/createGame">Create a new Game</a> -->
</div>


<!--
<div class="container">
    <table id="Game-table" class="table" *ngIf="allGame.length > 0 else noGame">
        <thead class="table-header">
            <tr>
                <th>
                    Id
                </th>
                <th>
                    GameName
                </th>
                <th>
                    PlayerCount
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let game of allGame">
                <td>{{game.id}}</td>
                <td>{{game.gameName}}</td>
                <td>{{game.playerCount}}</td>

            </tr>
        </tbody>
    </table>
    <ng-template #noGame>
        <p id="no-Game">
            No games online
        </p>
    </ng-template>
</div>
 -->
<app-chatroom></app-chatroom>
 <app-rockpaperscissors></app-rockpaperscissors>
 <app-move-game></app-move-game>