nav
{
    font-size: 24px;
    padding-left: 10px;
    padding: 10px;
    color: black;
}
.navbar-brand{
    font-size: 30px;
    background-color: #f44336;
    padding: 20px;
    border-radius: 25px;
    color: white;
    cursor: pointer;
}
#login{
    font-size: 26px;
    background-color: #3c6e71;
    border-radius: 25px;
    color: white;
}
